name: Publish Package

on:
  push:
    branches:
      - master
  workflow_run:
    workflows: ["publish"]
    types:
      - completed

permissions:
  contents: write # to create release (changesets/action)
  issues: write # to post issue comments (changesets/action)
  pull-requests: write # to create pull request (changesets/action)
  id-token: write # to use OpenID Connect token for provenance (changesets/action)

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Node.js environment
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          publish: bun run publish-packages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          npm_config_registry: https://registry.npmjs.org
          NPM_CONFIG_PROVENANCE: true
